body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    color: #26AAB7;
    font-size: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    flex: 1 1 calc(50% - 20px); /* Adjusted for 2 cards per row */
    box-sizing: border-box;
    min-width: 300px;
    position: relative; /* To position the number circle */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth hover effect */
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.card-number {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: #26AAB7;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

.card-content h2 {
    color: #13274E;
    margin-top: 40px; /* Add space for the number circle */
}

.card-content p {
    color: #333333;
    margin: 10px 0;
    display: none; /* Hide details by default */
}

.card.expanded {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: 80%;
    z-index: 1000;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.card.expanded .card-content p.details {
    display: block; /* Show details when card is expanded */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#overlay.active {
    display: block;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
    z-index: 1001; /* Make sure arrows are above the card content */
    color: #13274E;
}

.left-arrow {
    left: 50px;
}

.right-arrow {
    right: 50px;
}
